<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudiantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row>
        <ion-col size="8">
          <ion-searchbar placeholder="Buscar por numero de control" (ionChange)="filterStudent($event)" #ionBusqueda>

          </ion-searchbar>
        </ion-col><!--Numero de Control-->
        <ion-col size="4">
          <ion-button color="success" expand="block" shape="round">
            <ion-icon name="checkmark"></ion-icon>
            <ion-label>Aceptar</ion-label>
          </ion-button>
        </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item-sliding *ngFor="let s of fStudents; let i = index;">
            <ion-item>
              <div class="divContenido">
                <ion-col size="1">
                  <ion-avatar>
                    <img src="{{s.photo}}" />
                  </ion-avatar>
                </ion-col>
                <p class="pContenidoHijo">{{s.controlNumber}}</p>
                <p class="pContenidoHijo">{{s.name}}</p>
                <p class="pContenidoHijo">{{s.curp}}</p>
                <p class="pContenidoHijo">{{s.age}}</p>
                <p class="pContenidoHijo">{{s.nip}}</p>
                <p class="pContenidoHijo">{{s.email}}</p>
                <p class="pContenidoHijo">{{s.career}}</p>
              </div>
            </ion-item>

            <ion-item-options
              side="start"
              (click)="deleteStudent(s);"
              expandable
            >
              <ion-item-option color="primary">
                <ion-icon slot="start" name="create-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-item-options
              side="end"
              
              expandable
            >
              <ion-item-option color="danger" expandable (click)="deleteStudent(s);">
                <ion-icon slot="start" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
