<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudiantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row>
        <ion-col size="8">
            <ion-item>
                <ion-label position="floating">Numero de Control</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
        </ion-col><!--Numero de Control-->
        <ion-col size="4">
          <ion-button color="success" expand="block" shape="round">
            <ion-icon name="checkmark"></ion-icon>
            <ion-label>Aceptar</ion-label>
          </ion-button>
        </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item *ngFor="let s of students">
            <div class="divContenido">
              <p>{{s.controlNumber}}</p>
              <p>{{s.name}}</p>
              <p>{{s.curp}}</p>
              <p>{{s.age}}</p>
              <p>{{s.nip}}</p>
              <p>{{s.email}}</p>
              <p>{{s.career}}</p>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
