<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="encabezado">
  <ion-img style="padding: 2% 25% 2% 25%;"
      src="https://i.postimg.cc/SJmDT2NC/avenay.jpg"
      alt="Avenay">
      
    </ion-img>
</div>

<ion-card>
  <ion-card-header>
    <ion-card-title>Misión</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    En “AVENAY”, nos dedicamos a proporcionar a nuestros clientes galletas de avena de 
    la más alta calidad, elaboradas con ingredientes naturales y saludables. Nuestra misión 
    es ofrecer a las personas opciones deliciosas y nutritivas para satisfacer sus necesidades 
    de snacks y alimentos, al mismo tiempo que promovemos un estilo de vida saludable.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Visión</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    En “AVENAY”, estamos comprometidos a convertirnos en un competidor destacado en 
    la industria de las galletas de avena, impulsando un crecimiento sostenible y una huella 
    positiva desde nuestros primeros días.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Valores</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <li>Calidad</li>
    <li>Salud y Nutrición</li>
    <li>Adaptabilidad</li>
    <li>Integridad</li>
    <li>Desarrollo del Equipo</li>
  </ion-card-content>
</ion-card>
</ion-content>


